*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, 'poppins';
}

body{
    color: #ededed;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.navbar a{
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 0.3s;
}

.navbar a:hover{
    color: #800080;
}

.home{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: url(images/wallppr.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}

.home-content{
    max-width: 600px;
}

.home-content h3{
    font-size: 32px;
    font-weight: 700;
}

.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
}

.home-content p{
    font-size: 18px;
}

.home-sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #800080;
    border-radius: 50%;
    font-size: 25px;
    color: white;
    text-decoration: none;
    margin: 30px 15px 30px 0;
}

.home-sci a:hover:nth-child(1) { 
    color: #E4405F;
}

.home-sci a:hover:nth-child(2) { 
    color: #171515;
}

.home-sci a:hover:nth-child(3) { 
    color: #0077B5;
}

.home-sci a:hover:nth-child(4) {
    color: #25D366;
}

.home-sci a:hover{
    background: #800080;
}

.btn-box{
    display: inline-block;
    padding: 12px 21px;
    background: #800080;
    border-radius: 40px;
    font-size: 16px;
    color: #000;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
}

.btn-box:hover{
    box-shadow: 0 0 5px purple, 0 0 25px purple, 0 0 50px purple, 0 0 100px purple, 0 0 200px purple;
}